body{
    overflow: hidden;
    min-height: 200vh;
    background: black;
}

.lettre {
    
    position: absolute;
    border-radius: 300px;
    font-size: 2em;
    width: 20px;
    height: 20px;
    animation: anim 12s;
    color: green;

} 
@keyframes anim {
    from {
        top: -2000px;
        left: var(--left);
    }
    to {
        top: 2500px;
        left: var(--left);
        right: var(--right); 
    }
}